/* Header.js styles */
header {
  text-align: center;
  width: 100%;
} 

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex: 1;
}

nav ul li {
  margin: 0 15px;
}

nav ul li:hover {
  text-decoration-line: underline;
  text-decoration-color: gray;
  text-decoration-style: solid;
}


/* Home.js styles */
#welcome {
  margin-bottom: 0;
}